/* index - home */
body{
  background-color: rgb(241, 241, 241);
}
.navbar {
  justify-content: center;
}

.menu {
  display: flex;
  align-items: center;
  width: 100%;
  color: rgb(255, 20, 20);
}

.menu a{
  color: rgb(255, 20, 20);
  font-weight: 700;
}

.menu .navbar-nav {
  margin-left: auto;
}

.logoDelNav{
  display: flex;
}

.logoDelNav p{
  margin: auto;
  margin-left: 10%;
}

.encabezado{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0% 5% 0% 0%;
}

.encabezado img{
  width: 60%;
  margin: 5% 1% 5% 20%;
}

.encabezado p{
  font-size: 2.8em;
  color: rgb(255, 20, 20);
  font-weight: bold;
}

.historia{
  color: rgb(255, 20, 20);
  margin: 5% 15% 5% 15%;
}

.historia p{
  text-align: justify;
  font-size: large;
}

.ubicacionClub{
  display: flex;
  margin: 6%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: rgb(255, 20, 20);
  text-align: justify;
}

.sectionActividades{
  background-color: rgb(255, 20, 20);
}

.titleActividades{
  text-align: center;
  padding: 2%;
  color: white;
}

.deportes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}  

.carrouselsImagenes{
  border-radius: 6px;
}

.titleCardAct{
  color: rgb(255, 20, 20);
}
  
.card {
  margin-bottom: 5%;
}

.card-body {
  text-align: center;
}

.noticias-section h2 {
  font-size: xx-large;
  font-weight: bold;
  color: #333;
}

.noticias-section p {
  font-size: 18px;
  color: #777;
  margin: 2% 20% 2% 20%;
}

.noticias-section .btn {
  background-color: rgb(255, 20, 20);
  transition: background-color 0.3s ease;
  color: white;
}

.noticias-section .btn:hover {
  background-color: rgb(163, 12, 12);
}

/* noticias */

.contenidoNoticias{
  margin-bottom: 3%;
}

.titleNoticias, .titleAsociarse, .titleHistoriaMutual{
  text-align: center;
  color: #333;
  font-size: 3em;
  margin: 2%;
}

.contenidoNoticias, .contenidoAsociarse, .contenidoContacto{
  background-color: rgb(255, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  text-align: center;
}

.textInfo {
  max-width: 900px;
  font-size: larger;
  text-align: justify;
  color: white;
}

.contenidoCardsNoticias{
  justify-content: space-evenly;
  margin: 4% 4% 4% 4%;
}

.cardNoticia{
  width: 20%;
  margin: 3%;
} 

.textDeLaNoticia{
  text-align: start;
}

.linkMutual{
  text-decoration: none;
  color: rgb(255, 20, 20);
}

/* asociarse */

.sendEmail{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
}

.sendEmail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sendEmail h2{
  margin-bottom: 5%;
}

.formulario {
  max-width: 500px;
  width: 100%;
}

.formulario button{
  background-color: rgb(255, 20, 20);
  color: white;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.errorForm{
  color: rgb(255, 78, 78);
} 

/* mutual */

.contenidoHistoriaMutualRojo{
  background-color: rgb(255, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  text-align: center;
  flex-direction: row;
}

.contenido {
  display: flex;
  flex-direction: row;
  margin: 3%;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.contenido p{
  margin: 2%;
}

.contenido img{
  margin: 2%;
}

.imagenMutual{
  width: 40%;
}

.contenidoHistoriaMutual{
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  text-align: center;
}

.contenidoHistoriaMutual p{
  color: black;
}

/* contactarnos */



/* footer */
  
.footer {
  background-color: rgba(41, 41, 41, 0.9);
  color: rgb(237,237,237);
  padding: 1% 0;
  padding-bottom: 0%;
  bottom: 0;
  width: 100%;
  font-size: small;
  opacity: 80%;
  margin-top: 1%;
}

.footer .container {
  text-align: center;
}

.footer h5 {
  color: rgb(237,237,237);
  font-weight: bold;
  font-size: large;
}

.footer p {
  margin-bottom: 1%;
}

.footer ul.list-inline {
  margin-top: 1%;
  padding-left: 0;
  list-style: none;
}

.footer ul.list-inline li {
  margin-right: 5px;
}

.footer ul.list-inline li a i {
  color: rgb(237,237,237);
  font-size: 120%;
}

@media (max-width: 868px) { 
  .contenido {
    flex-direction: column;
  }

  .contenido img {
    order: 2;
  }

  .contenido p {
    order: 1;
  }

  .imagenMutual{
    width: 80%;
  }

  .contenidoImagenSection {
    flex-direction: column;
  }

  .contenidoTexto,
  .contenidoImagen {
    padding: 1%;
  }
  .contenidoImagen img {
    max-width: 80%;
    height: auto;
  }

  .formulario {
    max-width: 100%;
    padding: 1%;
  }

  .ubicacionClub {
    flex-direction: column-reverse;
    margin: 12%;
  }

  .nameClub p{
    font-size: 150%;
  }
}